
# BEGIN WordPress

php_value upload_max_filesize 10M
php_value post_max_size 10M

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /laithalobaidi/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /laithalobaidi/index.php [L]
</IfModule>

# END WordPress