@media only screen and (min-width: 992px) {
	.left-sidebar {
		.car-search {
			> section {
				&:first-child {
					h2 {
						color: #fff;
						text-transform: uppercase;
						font-size: 1.3em;
						text-align: center;
					}
				}
				&:nth-child(2) {
					#menu-social-media-menu {
						margin-top: 25px;
						li {
							float: left;
							width: 20%;
							 a {
							 	display: flex;
							 	height: 38px;
							 	text-align: center;
							 	align-items: center;
							 	justify-content: center;
							 	color: #fff;
							 	font-size: 1.3em;
							 }

							 &:first-child {
							 	a {
							 		background-color: #3b5998;
							 	}
							 }

							 &:nth-child(2) {
							 	a {
							 		background-color: #1da1f2;
							 	}
							 }

							 &:nth-child(3) {
							 	a {
							 		background-color: #dd4b39;
							 	}
							 }

							 &:nth-child(4) {
							 	a {
							 		background-color: #e1306c;
							 	}
							 }

							 &:nth-child(5) {
							 	a {
							 		background-color: #ff0000;
							 	}
							 }
						}

						&:after {
							content: '';
							display: block;
							height: 0;
							opacity: 0;
							overflow: hidden;
							clear: both;
						}
					}
				}
			}
		}
	}
	.right-sidebar {
		#menu-right-sidebar-menu {
			margin-top: 25px;

			li {
				padding: 8px;
				a {
					color: #fff;
					text-transform: uppercase;
					font-size: 1.2em;
				}
			}
		}

		.contact {
			margin-top: 25px;
			ul {
				li {
					a {
						display: block;
						color: #ff0000;
						font-size: 1.2em;
						text-align: left;
						padding: 5px 0;
						.fa {
							margin-right: 8px;
						}
					}
				}
			}
		}

		.joinus {
			margin-top: 25px;
			a {
				display: block;
				font-size: 1.2em;
				padding: 10px 8px;
				border-left: 3px solid #ff0000;
				background-color: #666;
				color: #fff;
				text-transform: uppercase;

				.fa {
					margin-right: 10px;
				}
			}
		}
	}
} 