html, body {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 0.9em;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a:link,
a:hover,
a:visited,
a:active {
	color: inherit;
	text-decoration: none;
}

p {
	font-size: 1.15em;
}

h1, h2 {
	&.title {
		text-align: center;
		text-transform: capitalize;

		> span {
			position: relative;
			padding-left: 40px;
			padding-right: 40px;

			&:before {
				content: '';
				display: block;
				width: 3px;
				height: 100%;
				background: #ff0000;
				position: absolute;
				left: 0;
				top: 0;
			}
			&:after {
				content: '';
				display: block;
				width: 3px;
				height: 100%;
				background: #ff0000;
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}
}

h1 {
	&.title {
		font-size: 1.8em;
	}
}

iframe {
	display: block;
}

body {

	.left-sidebar, .right-sidebar {
		position: fixed;
		padding: 15px;
		width: 200px;
	}

	.main {
		width: 100%;
		padding: 0 200px;
	}

	.left-sidebar {
		background-color: #000;
		left: 0;
		top: 0;
		bottom: 0;

		.logo {
			text-align: center;
			img {
				max-width: 80px;
				min-width: 50px;
				height: auto;
			}
		}
	}

	.right-sidebar {
		background-color: #000;
		right: 0;
		top: 0;
		bottom: 0;
	}
}


select, button[type="submit"] {
	width: 100%;
	outline: none;
	box-shadow: none;
	padding: 8px 10px;
	font-size: 1em;
	border-radius: 2px;
}

.form-assets {
	margin: 10px 0;

	&.left_s, &.right_s {
		&.select {
			select {
				border: 2px solid #666;
				color: #666;
				text-transform: uppercase;
				background-color: #000;
				appearance: none;

				&::-ms-expand {
					display: none;
				}

				background-image: url('../image/down.png');
				background-repeat: no-repeat;
				background-size: 10px 9px;
				background-position: 95% center;

				font-size: 0.85em;
			}
		}
		&.submit {
			margin-top: 25px;
			button[type="submit"] {
				background-color: #000;
				border: 2px solid #ff0000;
				color: #ff0000;
				text-transform: uppercase;
				font-size: 0.85em;
				padding: 12px 8px;
			}
		}
	}
}

.lang-switcher {
	select {
		border: 2px solid #ff0000;
		color: #ff0000;
		background-color: #000;
		appearance: none;
	}
}

.page-section {
	margin-top: 50px;
	margin-bottom: 50px;
}

.footer {
	> div {
		.footer-top {
			background-color: #ff0000;
			padding-top: 25px;
			padding-bottom: 25px;

			.container {
				color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;

				span {
					font-size: 1.2em;
					margin-right: 10px;
					margin-left: 10px;
				}
			}
		}
		.footer-middle {
			background-color: #333;
			padding-top: 25px;
			padding-bottom: 25px;
		}
	}
}

@import 'utilities.scss';
@import '_mediaLarge.scss';
@import 'single-car.scss';
